{
    "token": "TOKEN_BOT_DISCORD",
    "clientId": "ID_APP_BOT",
    "statusChannelId": "ID_STATUS_BOT",
    "ADMIN_ROLE_ID": "ID_ROLE_ADMIN",
    "PENGURUS_ROLE_ID": "ID_ROLE_PENGGURUS",
    "ChannelLogMembers": "ID_CHANNEL_LOGS_MEMBER",
    "ChannelLogBlacklist": "ID_CHANNEL_BLACKLIST_MEMBER",
    "ChannelArchivedRegister": "ID_CHANNEL_ARCHIVED",
    "ThreadPcId": "ID_THREAD_PC",
    "ThreadAndroId": "ID_THREAD_ANDRO",
    "ChannelLogTicketId": "ID_CHANNEL_LOG_TICKET", 
    "developerIds": "ID_AKUN_DISCORD"


}